{% include 'header.html' %}

<div class="card shadow m-5">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">Forgot Password</h5>
        <br>

        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                {{form}}
                <!-- <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                        </div>
                    </div>
                </div> -->
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary" name="Send email">
            </form>
            
        </div>
    </div>
</div>
